In [3]:
import pandas as pd

In [5]:
df0 = pd.read_csv('서울교통공사_1_8호선일별역별시간대별승하차인원_202001_202005.csv', encoding='cp949')
df1 = pd.read_excel('서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx')

In [6]:
def make_day(df):
    if 'Unnamed: 0' in df.columns:
        df.columns = df.loc[0]
        df.drop(0, axis=0, inplace=True)
    else:
        pass
    
    df['날짜'] = pd.to_datetime(df['날짜'])
    df['요일'] = df['날짜'].dt.day_name()
    
    days = list(df['요일'])
    kor_day = []
    for day in days:
        if day == 'Friday':
            kor_day.append('금요일')
        elif day == 'Monday':
            kor_day.append('월요일')
        elif day == 'Saturday':
            kor_day.append('토요일')
        elif day == 'Sunday':
            kor_day.append('일요일')
        elif day == 'Thursday':
            kor_day.append('목요일')
        elif day == 'Tuesday':
                kor_day.append('화요일')
        elif day == 'Wednesday':
            kor_day.append('수요일')

    df['요일'] = kor_day
    
    return df

In [7]:
df0 =make_day(df0)
df1 =make_day(df1)

In [8]:
subway_all = pd.concat([df0, df1], axis=0)
subway_all.set_index('날짜', inplace=True)
subway_all.sort_index(inplace=True)
subway_all

,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,요일
날짜,,,,,,,,,,,,,,,,,,,,,
2019-01-01,1호선,150,서울역,승차,348,321,348,741,940,1401,...,3447,3277,2898,2590,3004,2234,970,38,39559,화요일
2019-01-01,6호선,2630,녹사평(용산구청),승차,171,117,58,81,104,145,...,256,272,212,238,239,188,72,0,3506,화요일
2019-01-01,6호선,2629,삼각지,하차,46,89,64,80,105,138,...,154,128,152,157,116,152,80,14,2411,화요일
2019-01-01,6호선,2629,삼각지,승차,48,68,51,80,110,98,...,376,269,150,125,100,74,50,0,2981,화요일
2019-01-01,6호선,2628,효창공원앞,하차,24,76,64,103,129,110,...,214,213,179,149,163,145,80,12,2533,화요일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-31,3호선,342,오금,승차,68,87,90,180,204,178,...,171,108,109,71,62,40,8,0,2512,일요일
2020-05-31,3호선,342,오금,하차,1,37,57,99,140,175,...,194,159,178,189,174,129,123,17,2462,일요일
2020-05-31,4호선,409,당고개,승차,117,151,269,458,598,532,...,513,534,318,273,230,126,38,3,7331,일요일
2020-05-31,3호선,340,가락시장,승차,39,66,92,161,187,217,...,228,227,180,171,166,116,41,0,3430,일요일
2020-05-31,8호선,2827,모란,하차,19,55,56,69,85,101,...,145,129,119,113,96,99,66,12,1951,일요일

# 특정 지하철역, 특정 기간, 특정 시간대 하차인원

## 명동으로 테스트

In [19]:
day = subway_all.loc['2020-05-31']['요일'][0]

In [20]:
df_of_the_day = subway_all[subway_all['요일'] == day]
df_of_the_day

,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,요일
날짜,,,,,,,,,,,,,,,,,,,,,
2019-01-06,6호선,2624,상수,승차,164,159,100,153,189,211,...,510,568,572,615,716,760,427,0,7384,일요일
2019-01-06,6호선,2624,상수,하차,22,61,80,95,235,410,...,804,792,601,347,316,318,218,1,8339,일요일
2019-01-06,6호선,2625,광흥창(서강),승차,46,73,99,190,320,321,...,389,396,217,177,151,109,46,0,5127,일요일
2019-01-06,6호선,2625,광흥창(서강),하차,25,100,116,259,277,501,...,330,335,247,231,260,225,136,6,5140,일요일
2019-01-06,6호선,2626,대흥(서강대앞),승차,55,74,100,174,310,262,...,314,297,208,158,166,166,90,1,4217,일요일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-31,3호선,342,오금,승차,68,87,90,180,204,178,...,171,108,109,71,62,40,8,0,2512,일요일
2020-05-31,3호선,342,오금,하차,1,37,57,99,140,175,...,194,159,178,189,174,129,123,17,2462,일요일
2020-05-31,4호선,409,당고개,승차,117,151,269,458,598,532,...,513,534,318,273,230,126,38,3,7331,일요일
2020-05-31,3호선,340,가락시장,승차,39,66,92,161,187,217,...,228,227,180,171,166,116,41,0,3430,일요일
2020-05-31,8호선,2827,모란,하차,19,55,56,69,85,101,...,145,129,119,113,96,99,66,12,1951,일요일

In [21]:
df_of_the_day[df_of_the_day['역명'] == '명동'].loc['2020-05-31']

,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,요일
날짜,,,,,,,,,,,,,,,,,,,,,
2020-05-31,4호선,424,명동,하차,31,173,191,329,599,612,...,602,386,242,140,120,62,54,1,8820,일요일
2020-05-31,4호선,424,명동,승차,22,52,51,115,114,142,...,874,793,704,767,658,361,78,2,8218,일요일

In [22]:
test = df_of_the_day[df_of_the_day['역명'] == '명동']

In [26]:
test = test[test['구분'] == '하차']
test

,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,10 ~ 11,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,요일
날짜,,,,,,,,,,,,,,,,,,,,,
2019-01-06,4호선,424,명동,하차,31,377,588,944,1473,1952,...,2454,1986,1537,1134,770,494,391,22,30600,일요일
2019-01-13,4호선,424,명동,하차,38,345,620,883,1582,2014,...,2682,2346,1716,1324,844,554,416,56,32502,일요일
2019-01-20,4호선,424,명동,하차,51,353,628,949,1598,1999,...,2645,2003,1598,1217,768,470,374,18,31999,일요일
2019-01-27,4호선,424,명동,하차,26,395,676,961,1668,2213,...,2832,2203,1683,1212,892,828,438,40,34484,일요일
2019-02-03,4호선,424,명동,하차,34,397,687,768,1341,1545,...,2292,1851,1522,1235,806,535,269,35,26889,일요일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-03,4호선,424,명동,하차,22,196,182,340,485,659,...,668,488,400,230,122,63,52,12,9670,일요일
2020-05-10,4호선,424,명동,하차,29,198,199,340,480,708,...,561,406,293,172,111,46,45,1,8845,일요일
2020-05-17,4호선,424,명동,하차,34,169,213,317,543,700,...,566,412,272,183,119,72,38,3,8444,일요일
2020-05-24,4호선,424,명동,하차,26,159,156,298,504,654,...,585,466,288,197,122,57,37,6,8405,일요일
2020-05-31,4호선,424,명동,하차,31,173,191,329,599,612,...,602,386,242,140,120,62,54,1,8820,일요일

In [27]:
test.reset_index(inplace=True)

In [29]:
val = test[test['날짜'] == '2020-05-31'].index[0]
val

73

In [36]:
test.loc[val-6:val-1]['06 ~ 07']

67    148
68    170
69    196
70    198
71    169
72    159
Name: 06 ~ 07, dtype: object

In [37]:
test.loc[val-6:val-1]['06 ~ 07'].mean()

173.33333333333334

## 탐색을 용이하게 하기 위해 시간 칼럼 수정

In [64]:
time_col = list(subway_all.columns[4:-2])

In [65]:
time_col

['06시 이전',
 '06 ~ 07',
 '07 ~ 08',
 '08 ~ 09',
 '09 ~ 10',
 '10 ~ 11',
 '11 ~ 12',
 '12 ~ 13',
 '13 ~ 14',
 '14 ~ 15',
 '15 ~ 16',
 '16 ~ 17',
 '17 ~ 18',
 '18 ~ 19',
 '19 ~ 20',
 '20 ~ 21',
 '21 ~ 22',
 '22 ~ 23',
 '23 ~ 24',
 '24시 이후']

In [56]:
import re

In [58]:
temp = re.sub(' ~ ','-', time_col[1])

In [60]:
'0' in temp[0]

True

In [61]:
re.sub('0', '', temp)

'6-7'

In [66]:
new_time = []
for timeline in time_col:
    if '0' in timeline[0]:
        timeline = re.sub('0', '', timeline)
    else:
        pass
    timeline = re.sub(' ~ ','-', timeline)
    new_time.append(timeline)

In [72]:
new_time[0], new_time[4], new_time[-1] = '5-6', '9-10', '24-01'

In [73]:
new_time

['5-6',
 '6-7',
 '7-8',
 '8-9',
 '9-10',
 '10-11',
 '11-12',
 '12-13',
 '13-14',
 '14-15',
 '15-16',
 '16-17',
 '17-18',
 '18-19',
 '19-20',
 '20-21',
 '21-22',
 '22-23',
 '23-24',
 '24-01']

In [83]:
col_all = list(subway_all.columns)

In [86]:
col_all[4:-2] = new_time

In [88]:
subway_all.columns = col_all

In [89]:
subway_all

,호선,역번호,역명,구분,5-6,6-7,7-8,8-9,9-10,10-11,...,17-18,18-19,19-20,20-21,21-22,22-23,23-24,24-01,합 계,요일
날짜,,,,,,,,,,,,,,,,,,,,,
2019-01-01,1호선,150,서울역,승차,348,321,348,741,940,1401,...,3447,3277,2898,2590,3004,2234,970,38,39559,화요일
2019-01-01,6호선,2630,녹사평(용산구청),승차,171,117,58,81,104,145,...,256,272,212,238,239,188,72,0,3506,화요일
2019-01-01,6호선,2629,삼각지,하차,46,89,64,80,105,138,...,154,128,152,157,116,152,80,14,2411,화요일
2019-01-01,6호선,2629,삼각지,승차,48,68,51,80,110,98,...,376,269,150,125,100,74,50,0,2981,화요일
2019-01-01,6호선,2628,효창공원앞,하차,24,76,64,103,129,110,...,214,213,179,149,163,145,80,12,2533,화요일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-31,3호선,342,오금,승차,68,87,90,180,204,178,...,171,108,109,71,62,40,8,0,2512,일요일
2020-05-31,3호선,342,오금,하차,1,37,57,99,140,175,...,194,159,178,189,174,129,123,17,2462,일요일
2020-05-31,4호선,409,당고개,승차,117,151,269,458,598,532,...,513,534,318,273,230,126,38,3,7331,일요일
2020-05-31,3호선,340,가락시장,승차,39,66,92,161,187,217,...,228,227,180,171,166,116,41,0,3430,일요일
2020-05-31,8호선,2827,모란,하차,19,55,56,69,85,101,...,145,129,119,113,96,99,66,12,1951,일요일

# 함수화

In [31]:
def find_pop(date, time, station, num):
    #지정한 날짜의 요일 확인
    day = subway_all.loc[date]['요일'][0]
    #해당 요일로만 구성된 데이터프레임 생성
    df_of_the_day = subway_all[subway_all['요일'] == day]
    
    #지정한 지하철역의 데이터프레임 생성
    temp = df_of_the_day[df_of_the_day['역명'] == station]
    #승하차 구분
    temp = temp[temp['구분'] == '하차']
    #인덱스를 reset시켜 인덱스에서의 1은 일주일을 뜻하게 함
    temp.reset_index(inplace=True)
    
    #해당 날짜의 인덱스를 확인
    val = temp[temp['날짜'] == date].index[0]
    #그로부터 지난 n주일까지의 특정 시간대, 특정 지하철역의 하차인원 평균 
    pop_mean = temp.loc[val-num-1:val-1][time].mean()
    
    return pop_mean

In [34]:
find_pop('2020-05-31', '06 ~ 07', '명동', 5)

173.28571428571428