In [3]:
import pickle
import pandas as pd
# from function import makefulldate, makefulldate2
# from function import DFyoon

In [3]:
dfyoon = DFyoon()
len(dfyoon.station_list)

불러오기완료

250

In [4]:
df = pd.read_pickle('data/지하철데이터_창윤.pkl')
df1 = pd.read_pickle('data/공휴일추가.pkl')
df.reset_index(inplace=True)
df.rename(columns={'날짜':'date'}, inplace=True)
df1.reset_index(inplace=True)
df1.rename(columns={'날짜':'date'}, inplace=True)
col_need = ['date','역명', '5-6', '6-7', '7-8', '8-9', '9-10', '10-11', '11-12',
       '12-13', '13-14', '14-15', '15-16', '16-17', '17-18', '18-19', '19-20',
       '20-21', '21-22', '22-23', '23-24', '24-01']
col_nee= ['5-6', '6-7', '7-8', '8-9', '9-10', '10-11', '11-12',
       '12-13', '13-14', '14-15', '15-16', '16-17', '17-18', '18-19', '19-20',
       '20-21', '21-22', '22-23', '23-24', '24-01']

In [8]:
df_date2 = makefulldate2()
df_ = pd.merge(df_date2,df, on = 'date',how='left')
df_down_ = df_[df_['구분']=='하차']
df_down_ = df_down_[col_need+['요일']].groupby(['역명','요일','date']).sum()
df_down_temp.reset_index(inplace=True)
df_down_temp.set_index(['역명','요일','date'],inplace=True)

In [86]:
import numpy as np
from copy import deepcopy
df_down_temp = deepcopy(df_down_)

# 지하철 몇주전 평균낼껀지 lastnday에 넣는다

In [ ]:
lastnday=8

In [97]:
from tqdm import tqdm
for i in tqdm(df['역명'].unique()):
    try:
        for j in df['요일'].unique():
            for k,val in enumerate(df_down_.loc[i,j].index):
                if k>7:
                    df_down_temp.loc[(i,j,val)] = np.mean(df_down_.loc[i,j].iloc[k-lastnday:k])
                else :
                    df_down_temp.loc[i,j].iloc[k] = df_down_.loc[i,j].iloc[k]
    except:
        print(i,j,val)

 99%|███████████████████████████████████████████████████████████████████████████████▎| 244/246 [00:57<00:00,  5.26it/s]

신내 수요일 2020-05-19 00:00:00

100%|████████████████████████████████████████████████████████████████████████████████| 246/246 [00:57<00:00,  4.25it/s]

In [110]:
new_df_ = pd.DataFrame(df_down_temp.reset_index().drop(['요일'],axis=1).set_index(['역명','date']).stack())
new_df_= new_df_.reset_index()
new_df_.columns = ['역명','date','시간','평균하차수']

,역명,date,5-6,6-7,7-8,8-9,9-10,10-11,11-12,12-13,...,15-16,16-17,17-18,18-19,19-20,20-21,21-22,22-23,23-24,24-01
0,가락시장,2019-12-06,95.000,409.000,912.000,3065.000,1526.000,850.000,869.000,969.000,...,1155.000,1283.000,1737.000,2896.000,2136.000,1114.000,870.000,919.000,663.000,350.000
1,가락시장,2019-12-13,110.000,470.000,937.000,3280.000,1480.000,883.000,1061.000,1083.000,...,1326.000,1276.000,1885.000,3025.000,2231.000,1178.000,988.000,947.000,743.000,425.000
2,가락시장,2019-12-20,101.000,463.000,948.000,3183.000,1528.000,1100.000,1050.000,1096.000,...,1260.000,1411.000,1976.000,3056.000,2247.000,1307.000,984.000,1036.000,755.000,421.000
3,가락시장,2019-12-27,105.000,428.000,882.000,3084.000,1297.000,946.000,1044.000,1110.000,...,1322.000,1299.000,1956.000,2783.000,2075.000,1111.000,897.000,982.000,664.000,417.000
4,가락시장,2020-01-03,119.000,465.000,896.000,3254.000,1310.000,920.000,949.000,977.000,...,1093.000,1178.000,1452.000,2494.000,1962.000,1110.000,750.000,858.000,549.000,309.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44288,효창공원앞,2020-04-28,20.625,125.250,233.125,832.625,477.500,197.750,188.625,181.250,...,212.750,246.125,342.875,639.500,481.875,272.125,218.875,201.125,124.625,43.875
44289,효창공원앞,2020-05-05,20.625,132.500,240.375,843.125,478.000,204.875,190.750,189.750,...,220.875,250.875,357.375,646.000,490.250,274.250,224.500,205.875,132.375,39.500
44290,효창공원앞,2020-05-12,20.125,136.875,223.500,755.625,431.875,194.500,188.500,190.750,...,220.875,246.875,345.875,596.875,456.375,267.125,224.250,204.875,133.000,31.500
44291,효창공원앞,2020-05-19,19.625,144.500,228.375,769.250,441.625,204.875,195.250,193.625,...,227.125,246.625,354.375,607.625,463.750,265.750,232.375,212.625,132.750,27.750
44292,효창공원앞,2020-05-26,19.500,145.750,230.250,783.375,440.750,210.000,201.875,194.000,...,228.250,253.000,361.125,624.250,468.250,270.250,243.250,213.750,133.375,23.375

# 요일 공휴일 코로나단계 합치기

In [132]:
df_date = makefulldate()
df = pd.merge(df_date,df, on = 'date',how='left')
##요일 공휴일 데이터프레임화
df_yo1 = df1[['date','요일','공휴일']].drop_duplicates()
df_yo = df[['date','요일','공휴일']].drop_duplicates()
df_yo['주말제외공휴일'] = df1['공휴일']

df_down = df[df['구분']=='하차']
df_down.drop(columns=['호선','역번호','합 계'], inplace =True)
df_1 = df_down[col_need].groupby(['역명','date']).sum()

df_up = df[df['구분']=='승차']
df_up.drop(columns=['호선','역번호','합 계'], inplace =True)
df_2 = df_up[col_need].groupby(['역명','date']).sum()

new_df = pd.DataFrame(df_1.stack())
new_df.reset_index(inplace = True)
new_df.columns=['역명','date','시간','하차']
new_df['승차']=df_2.stack().values
do = pd.read_csv('data/feature_list_dy.csv',parse_dates=['date'])
new_df = pd.merge(new_df,df_yo,on = 'date',how='left')
new_df = pd.merge(new_df,do[['date','corona_stage']],on = 'date',how='left')
new_df['구'] = [1 if dfyoon.station_gu_dic[i] in dfyoon.gu_list else 0 for i in new_df['역명'] ]
renew_df = new_df[new_df['구']==1]

            date   요일  공휴일  주말제외공휴일
0     2020-02-01  토요일    1        0
552   2020-02-02  일요일    1        0
1106  2020-02-03  월요일    0        0
1656  2020-02-04  화요일    0        0
2208  2020-02-05  수요일    0        0
...          ...  ...  ...      ...
63914 2020-05-27  수요일    0        0
64468 2020-05-28  목요일    0        0
65018 2020-05-29  금요일    0        0
65568 2020-05-30  토요일    1        0
66120 2020-05-31  일요일    1        0

[121 rows x 4 columns]

# 코로나 감염자데이터 지난 last_nday 데이터 합치기

In [140]:
for i,val in enumerate(renew_df['역명'].unique()):
    df_sta = dfyoon.sta_merg(val, last_nday=7)
    df_sta['역명']=val
    if i==0:
        df_conc = df_sta
    else :
        df_conc = pd.concat([df_conc,df_sta],axis=0)
    ra = pd.merge(renew_df,df_conc, on = ['date','역명'],how='left')

C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][:i])
C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][i - last_nday : i])

# 검색어트랜드 합치기

## 순서대로 실행하기

In [199]:
import pandas as pd
import copy
from tqdm import tqdm

In [200]:
df_3_temp = pd.read_pickle('다듬지않은 검색어트렌드(원본보기용).pkl')
df_3_temp
# df_3.rename(columns={'period':'date'}, inplace=True)

# df_3 = df_3.set_index('date')
# df_3.fillna(0, inplace=True)
# df_3_temp = copy.deepcopy(df_3)

,title,keywords,data
0,가락시장역,"[가락시장역 맛집, 가락시장역 카페, 가락시장역 놀거리, 가락시장역 데이트, 가락시...","[{'period': '2020-01-24', 'ratio': 34.8659}, {..."
1,가산디지털단지역,"[가산디지털단지역 맛집, 가산디지털단지역 카페, 가산디지털단지역 놀거리, 가산디지털...","[{'period': '2020-01-24', 'ratio': 25.70951}, ..."
2,강남역,"[강남역 맛집, 강남역 카페, 강남역 놀거리, 강남역 데이트, 강남역 구경, 강남역...","[{'period': '2020-01-24', 'ratio': 59.909}, {'..."
3,강남구청역,"[강남구청역 맛집, 강남구청역 카페, 강남구청역 놀거리, 강남구청역 데이트, 강남구...","[{'period': '2020-01-24', 'ratio': 29.60172}, ..."
4,강동역,"[강동역 맛집, 강동역 카페, 강동역 놀거리, 강동역 데이트, 강동역 구경, 강동역...","[{'period': '2020-01-24', 'ratio': 32.13483}, ..."
...,...,...,...
239,홍제역,"[홍제역 맛집, 홍제역 카페, 홍제역 놀거리, 홍제역 데이트, 홍제역 구경, 홍제역...","[{'period': '2020-01-24', 'ratio': 46.43962}, ..."
240,화곡역,"[화곡역 맛집, 화곡역 카페, 화곡역 놀거리, 화곡역 데이트, 화곡역 구경, 화곡역...","[{'period': '2020-01-24', 'ratio': 59.00243}, ..."
241,화랑대(서울여대입구)역,"[화랑대(서울여대입구)역 맛집, 화랑대(서울여대입구)역 카페, 화랑대(서울여대입구)...",[]
242,회현(남대문시장)역,"[회현(남대문시장)역 맛집, 회현(남대문시장)역 카페, 회현(남대문시장)역 놀거리,...",[]
243,효창공원앞역,"[효창공원앞역 맛집, 효창공원앞역 카페, 효창공원앞역 놀거리, 효창공원앞역 데이트,...","[{'period': '2020-01-30', 'ratio': 81.81818}, ..."

In [201]:
# 값이 아예 0인 지하철역 뽑기
empty_list = []
for i in range(len(df_3_temp)):
    if len(df_3_temp['data'][i]) == 0:
        empty_list.append(df_3_temp['title'][i].replace('역', ''))
        df_3_temp.drop([i], axis=0, inplace=True)

subway = pd.read_csv(r"C:\Users\jejec\모공전\빅콘\서울 지하철역 좌표.csv")
subway_list = list((set(subway['역명'])))
subway_list.sort()
a_sub_b = [x for x in subway_list if x not in empty_list]
a_sub_b.remove('서울역')
len(a_sub_b)

191

In [202]:
df_3_temp.reset_index(drop=True, inplace=True)

In [203]:
df_3_temp

,title,keywords,data
0,가락시장역,"[가락시장역 맛집, 가락시장역 카페, 가락시장역 놀거리, 가락시장역 데이트, 가락시...","[{'period': '2020-01-24', 'ratio': 34.8659}, {..."
1,가산디지털단지역,"[가산디지털단지역 맛집, 가산디지털단지역 카페, 가산디지털단지역 놀거리, 가산디지털...","[{'period': '2020-01-24', 'ratio': 25.70951}, ..."
2,강남역,"[강남역 맛집, 강남역 카페, 강남역 놀거리, 강남역 데이트, 강남역 구경, 강남역...","[{'period': '2020-01-24', 'ratio': 59.909}, {'..."
3,강남구청역,"[강남구청역 맛집, 강남구청역 카페, 강남구청역 놀거리, 강남구청역 데이트, 강남구...","[{'period': '2020-01-24', 'ratio': 29.60172}, ..."
4,강동역,"[강동역 맛집, 강동역 카페, 강동역 놀거리, 강동역 데이트, 강동역 구경, 강동역...","[{'period': '2020-01-24', 'ratio': 32.13483}, ..."
...,...,...,...
186,혜화역,"[혜화역 맛집, 혜화역 카페, 혜화역 놀거리, 혜화역 데이트, 혜화역 구경, 혜화역...","[{'period': '2020-01-24', 'ratio': 65.58959}, ..."
187,홍대입구역,"[홍대입구역 맛집, 홍대입구역 카페, 홍대입구역 놀거리, 홍대입구역 데이트, 홍대입...","[{'period': '2020-01-24', 'ratio': 38.43416}, ..."
188,홍제역,"[홍제역 맛집, 홍제역 카페, 홍제역 놀거리, 홍제역 데이트, 홍제역 구경, 홍제역...","[{'period': '2020-01-24', 'ratio': 46.43962}, ..."
189,화곡역,"[화곡역 맛집, 화곡역 카페, 화곡역 놀거리, 화곡역 데이트, 화곡역 구경, 화곡역...","[{'period': '2020-01-24', 'ratio': 59.00243}, ..."
190,효창공원앞역,"[효창공원앞역 맛집, 효창공원앞역 카페, 효창공원앞역 놀거리, 효창공원앞역 데이트,...","[{'period': '2020-01-30', 'ratio': 81.81818}, ..."

In [231]:
df = pd.DataFrame(columns=a_sub_b, index=range(0,221))
for j in tqdm(range(len(a_sub_b))):
    if len(df_3_temp['data'][j]) == 221:    
        for i in range(221): 
            df.iloc[i][j] = df_3_temp['data'][j][i]['ratio']
    else:
        for m in range(len(df_3_temp['data'][j])):
            try:
                df.iloc[m][j] = df_3_temp['data'][j][m]['ratio']
            except IndexError:
                df.iloc[m][j] = None
                continue

100%|████████████████████████████████████████████████████████████████████████████████| 191/191 [00:05<00:00, 35.87it/s]

## 일 수 바꾸려면 여기서 바꾸기

In [246]:
df_ = pd.DataFrame(data=[], columns=df.columns)
for i in range(len(df)):
    df_ = df_.append(pd.DataFrame(data=[df.iloc[i:i+8].mean()], columns=df.columns))

In [248]:
import datetime
import pandas
dt_index = pandas.date_range(start='2020-02-01', end='2020-09-08')
dt_list = dt_index.strftime("%Y-%m-%d").tolist()
# df_.insert(0,"period",dt_list,True)
df_['period'] = pd.to_datetime(dt_list)
df_.reset_index(drop=True, inplace=True)

In [251]:
# df_[:213].to_pickle("검색어트렌드.pkl")
df_3 = pd.read_pickle("검색어트렌드.pkl")

In [144]:
df_3_temp = df_3_temp/np.mean(df_3)
df_3_temp = df_3_temp.stack().reset_index()
df_3_temp.columns=['date','역명','검색트랜드']
df_3_temp['date'] = pd.to_datetime(df_3_temp['date'])
rara = pd.merge(ra, df_3_temp, on = ['date','역명'],how='inner')

In [153]:
rara.to_pickle('merged_exceptsub.pickle')

In [149]:
rara = pd.read_pickle('merged_exceptsub.pickle')

In [151]:
rara = pd.merge(rara, new_df_, on = ['date','역명','시간'],how='left')

In [156]:
rara[rara['역명']=='대치']

,역명,date,시간,하차,승차,요일,공휴일,주말제외공휴일,corona_stage,구,행정구역_확진자,전국_확진자,검색트랜드,평균하차수
82860,대치,2020-02-01,5-6,33,54,토요일,1,0,0,1,0,0.0,0.939077,27.125
82861,대치,2020-02-01,6-7,213,173,토요일,1,0,0,1,0,0.0,0.939077,198.500
82862,대치,2020-02-01,7-8,360,232,토요일,1,0,0,1,0,0.0,0.939077,302.625
82863,대치,2020-02-01,8-9,704,337,토요일,1,0,0,1,0,0.0,0.939077,603.125
82864,대치,2020-02-01,9-10,794,380,토요일,1,0,0,1,0,0.0,0.939077,712.375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85275,대치,2020-05-31,20-21,171,247,일요일,1,0,1,1,2,276.0,1.082144,176.375
85276,대치,2020-05-31,21-22,184,268,일요일,1,0,1,1,2,276.0,1.082144,159.625
85277,대치,2020-05-31,22-23,188,355,일요일,1,0,1,1,2,276.0,1.082144,160.625
85278,대치,2020-05-31,23-24,92,57,일요일,1,0,1,1,2,276.0,1.082144,102.875
85279,대치,2020-05-31,24-01,13,2,일요일,1,0,1,1,2,276.0,1.082144,3.375

In [221]:
df_4 = pd.read_pickle('data/주거인구.pkl')
df_4

           기간  자치구     동         합계
0    2020.2/4   합계    합계  9,720,846
1    2020.2/4  종로구    소계    150,383
2    2020.2/4  종로구   사직동      9,506
3    2020.2/4  종로구   삼청동      2,707
4    2020.2/4  종로구   부암동     10,050
..        ...  ...   ...        ...
446  2020.2/4  강동구  둔촌1동        261
447  2020.2/4  강동구  둔촌2동     27,152
448  2020.2/4  강동구  암사1동     35,931
449  2020.2/4  강동구  천호2동     34,853
450  2020.2/4  강동구    길동     46,619

[451 rows x 4 columns]