In [1]:
import pandas as pd
from function import make_sumcount, makefulldate
from function import DFyoon

## 1. 역넣으면구나오는dict.pickle 만들기

In [36]:
df = pd.read_csv('data/서울 지하철역 좌표.csv')
import re
# df['구'] = [''.join(re.findall(' ([가-힣]*구) ', i)) for i in df['상세주소']]

# station_gu_dic = {}
# for i in range(len(df)):
#     station_gu_dic[df['역명'][i]]=df['구'][i]

# station_gu_dic['서울역'] = '중구'
# station_gu_dic['교대(법원.검찰청)'] = '서초구'
# station_gu_dic['낙성대(강감찬)'] = '관악구'
# station_gu_dic['남한산성입구(성남법원.검찰청)'] = '수정구'
# station_gu_dic['동대문역사문화공원(DDP)'] = '중구'
# station_gu_dic['신내'] = '중랑구'
# station_gu_dic['용마산(용마폭포공원)'] = '중랑구'
# station_gu_dic['종로3가'] = '종로구'
# station_gu_dic['철산'] = '구로구'
# station_gu_dic['광명사거리'] = '구로구'


# import pickle
# with open('data/역넣으면구나오는dict.pickle', 'wb') as f:
#     pickle.dump(station_gu_dic, f, protocol=pickle.HIGHEST_PROTOCOL)

In [43]:
df['행정동'] = [re.findall('( [가-힣]*동)', i)[0] if re.findall('( [가-힣]*동)', i) else 0 for i in df['상세주소']]

In [45]:
df[['역명','행정동']]
df[df['행정동']==0]

,역명,상세주소,경도,위도,상태,행정동
2,종각,서울특별시 종로구 종로1가 54 종각지하철역사,126.981390,37.570222,정좌표,0
3,종로5가,서울특별시 종로구 종로5가 82-1 1호선 종로5가역,127.001925,37.571020,정좌표,0
10,을지로입구,서울특별시 중구 을지로1가 100-1 을지로입구역,126.982059,37.566049,정좌표,0
11,을지로3가,서울특별시 중구 을지로3가 347-3 을지로3가역(2호선),126.990203,37.566199,정좌표,0
12,을지로4가,서울특별시 중구 을지로4가 267-1 을지로4가역(2호선),126.996517,37.566519,정좌표,0
50,충정로(경기대입구),서울특별시 서대문구 충정로3가 319-1 충정로역(2호선),126.963845,37.559529,정좌표,0
70,을지로3가,서울특별시 중구 을지로3가 282-8 을지로3가역(3호선),126.993607,37.566398,정좌표,0
104,혜화,서울특별시 종로구 명륜4가 96-5 4호선 혜화역,127.001790,37.582124,정좌표,0
111,삼각지,서울특별시 용산구 한강로1가 228-1 삼각지역(4호선),126.973197,37.534642,정좌표,0
112,신용산,서울특별시 용산구 한강로2가 181 4호선 신용산역,126.968030,37.529259,인근좌표,0
139,충정로(경기대입구),서울특별시 서대문구 충정로3가 248-1 충정로역(5호선),126.963289,37.560786,정좌표,0
141,광화문(세종문화회관),서울특별시 종로구 세종로 1-90 광화문역,126.977195,37.571555,정좌표,0
143,을지로4가,서울특별시 중구 을지로4가 192 을지로4가역(5호선),126.998517,37.566183,정좌표,0
187,삼각지,서울특별시 용산구 한강로1가 228-1 삼각지역(6호선),126.973197,37.534642,정좌표,0
268,종로3가,서울특별시 종로3가 10-5 1호선 종로3가역(1호선),126.992158,37.570662,실패,0

---
---
## class 작동확인

In [2]:
dfyoon=DFyoon()

불러오기완료

In [6]:
dfyoon.sta_merg('서초')

C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][:i])
C:\Users\YOON\nlp\worksp\big_contest\modeling\function.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sumcount"][i] = sum(df[col_name][i - last_nday : i])

          date  행정구역_확진자  전국_확진자
0   2020-02-01         0     0.0
1   2020-02-02         0     0.0
2   2020-02-03         0     0.0
3   2020-02-04         0     0.0
4   2020-02-05         0     0.0
..         ...       ...     ...
208 2020-08-27        29  2207.0
209 2020-08-28        26  2360.0
210 2020-08-29        28  2407.0
211 2020-08-30        24  2398.0
212 2020-08-31        23  2300.0

[213 rows x 3 columns]