In [1]:
import pandas as pd
import pickle
import gzip

In [52]:
from google.colab import files
uploaded = files.upload()

Saving seoul_populartime.pickle to seoul_populartime (1).pickle
Saving subway_xy.pickle to subway_xy (1).pickle

In [2]:
#장소랑 지하철 좌표 불러오기
with gzip.open('seoul_populartime.pickle','rb') as f:
    data = pickle.load(f)
with gzip.open('subway_xy.pickle','rb') as f:
    subway = pickle.load(f)

In [9]:
# 장소 하나의 데이터프레임으로 만들기
places = list(data.keys())
print(places)
df = pd.DataFrame()
for i in places:
    df1 = pd.DataFrame(data[i])
    df1['places'] = i
    df = pd.concat([df,df1])
df = df.reset_index(drop=True)

['amusement_park', 'aquarium', 'art_gallery', 'bakery', 'bank', 'bar', 'book_store', 'bowling_alley', 'cafe', 'clothing_store', 'department_store', 'doctor', 'drugstore', 'hospital', 'library', 'local_government_office', 'meal_takeaway', 'movie_theater', 'museum', 'night_club', 'park', 'pharmacy', 'post_office', 'restaurant', 'shopping_mall', 'spa', 'store', 'tourist_attraction', 'zoo']

관광/문화/놀거리 : 'amusement_park', 'aquarium', 'art_gallery', 'book_store', 'bowling_alley', 'library', 'movie_theater', 'museum',  
'night_club', 'park','spa','tourist_attraction''zoo'  
의료 :'doctor','drugstore', 'hospital','pharmacy'  
맛집 : 'bar','meal_takeaway','restaurant'  
카페 : 'bakery' 'cafe'  
쇼핑/마트 : 'clo,thing_store''department_store','shopping_mall','store'  
은행/공공기관 : 'bank', 'local_government_office','post_office',

In [10]:
print(len(df),len(df.columns))

21531 12

In [11]:
place_dic = {'amusement_park' : '관광/문화/놀거리' , 'aquarium' : '관광/문화/놀거리' ,
             'art_gallery' : '관광/문화/놀거리' , 'book_store' : '관광/문화/놀거리',
             'bowling_alley' : '관광/문화/놀거리', 'library' : '관광/문화/놀거리',
             'movie_theater' : '관광/문화/놀거리', 'museum' : '관광/문화/놀거리',
             'doctor' : '의료','drugstore' : '의료',
             'hospital' : '의료','pharmacy' : '의료',
             'bar' : '맛집','meal_takeaway' : '맛집','restaurant' : '맛집',
             'bakery' : '카페/빵집', 'cafe' : '카페/빵집',
             'clothing_store' : '쇼핑/마트', 'department_store' : '쇼핑/마트',
             'shopping_mall' : '쇼핑/마트','store' : '쇼핑/마트',
             'bank' : '은행/공공기관', 'local_government_office' : '은행/공공기관','post_office' : '은행/공공기관',
            }

In [12]:
df.head()

,id,name,address,types,coordinates,rating,rating_n,current_popularity,populartimes,time_spent,places,time_wait
0,ChIJjz3BWhedfDURKGWHZQj1dIM,롯데월드,송파구 잠실동,"[amusement_park, point_of_interest, establishm...","{'lat': 37.5169271, 'lng': 126.8375871}",4.2,33786.0,26.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN,amusement_park,NaN
1,ChIJMfwYnPCefDUR-ZwyNc2pZZc,Sealala Water Park,"164 Mullae-ro, Yeongdeungpo-gu","[tourist_attraction, amusement_park, point_of_...","{'lat': 37.5181236, 'lng': 126.8999252}",3.9,1060.0,60.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN,amusement_park,NaN
2,ChIJXTLnGBaZfDURfhee0sxO_pc,Football Faentasium,"240 Woldeukeom-ro, Mapo-gu","[museum, amusement_park, point_of_interest, es...","{'lat': 37.5683621, 'lng': 126.8964823}",4.1,166.0,NaN,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[120, 120]",amusement_park,NaN
3,ChIJJ35mstqYfDURlOC0ff-sdbY,VR SQUARE 홍대점,"68 Eoulmadang-ro, Mapo-gu","[amusement_park, point_of_interest, establishm...","{'lat': 37.55106900000001, 'lng': 126.9214724}",4.1,112.0,NaN,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[210, 210]",amusement_park,NaN
4,ChIJ54bbUMWYfDURcUkusvg7pE8,Seoul Escape Room (Hongdae2),"3,4,5층, 410-9 Seogyo-dong, Mapo-gu","[tourist_attraction, amusement_park, point_of_...","{'lat': 37.550061, 'lng': 126.9223922}",4.8,483.0,NaN,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[90, 90]",amusement_park,NaN

In [14]:
# X, Y 좌표로 데이터 프레임 빼기
def preprocessing_data(df):
    df['lat'] = [df['coordinates'][i]['lat'] for i in range(len(df))]
    df['lng'] = [df['coordinates'][i]['lng'] for i in range(len(df))]
    df['category'] = df['places'].map(place_dic)
    return df
df = preprocessing_data(df)

In [80]:
class DF:
    def __init__(self, df):
        self.df = df
        
        
    def listup(self, station, category = 'all', k=0.01):
        input_coordinates = subway[station]
        df['lat_dis'] = abs(df['lat'] - input_coordinates[0])
        df['lng_dis'] = abs(df['lng'] - input_coordinates[1])
        self.df_sta_cat = df.query("lat_dis < {} and lng_dis < {}".format(k,k))
        
        if category == 'all':
            return self.df_sta_cat
        else:
            self.df_sta_cat = self.df_sta_cat[self.df_sta_cat['category']== category]
        return self.df_sta_cat

        
    def timeline(self, time = (0,24), week='Monday'):#time=(시작시간,끝시간)
        time_dic={}
        temp = []
        
        for i in self.df_sta_cat['populartimes']:
            for j in i:
                time_dic[j['name']] = j['data']
            temp.append(pd.DataFrame(time_dic)[week][time[0]:time[1]].values)
        self.df_sta_cat['인구수'] = temp
        return self.df_sta_cat[['name','address','인구수']]

In [81]:
dd = DF(df)

In [82]:
dd.listup('강남', '맛집') ##listup으로 역이랑 카테고리 정함
dd.timeline(time=(16,18), week='Monday')  ##특정시간대 인구수 표시

                           name                               address      인구수
1658                  블루문 믹스앤몰트  1640-13 Seocho 1(il)-dong, Seocho-gu   [0, 3]
1662   BAR 11 CLUB (바11클럽,바일레븐)        1330-15 Seocho-dong, Seocho-gu   [0, 0]
1663               Tumbler Beer     38 Seocho-daero 78-gil, Seocho-gu   [0, 0]
1664                 이태원천상 강남역점             서초 대로 74 길 23, Gangnam-gu   [1, 7]
1666       Just a Glass of Wine       837-24 Yeoksam-dong, Gangnam-gu   [3, 7]
...                         ...                                   ...      ...
14307                    원가네감자탕      60 Yeoksam-ro 17-gil, Gangnam-gu   [2, 6]
14308                      돈우애락                  역삼동 738 강남구 서울특별시 KR  [3, 14]
14309                   푸른바다세꼬시      3 Nonhyeon-ro 81-gil, Gangnam-gu  [9, 27]
14312            Chicken & Beer           509 Nonhyeon-ro, Gangnam-gu   [2, 9]
14314                Tong-Yeong           511 Nonhyeon-ro, Gangnam-gu  [7, 16]

[429 rows x 3 columns]