In [3]:
import pickle

In [13]:
with open('083007.pickle','rb') as f:
    data = pickle.load(f)

In [15]:
import pandas as pd
a = pd.DataFrame(data['cafe'])
a

,id,name,address,types,coordinates,rating,rating_n,populartimes,time_spent
0,ChIJ6f8mgmS5fDURt-_aG_Bkla0,Cafe 감나무 아래,"-dong, 208-27 하계1동, 노원구","[cafe, food, point_of_interest, store, establi...","{'lat': 37.63908419999999, 'lng': 127.0698938}",3.7,23.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[60, 150]"
1,ChIJPakaOwajfDURCTBVfkMuZgE,바캉스커피(vacances coffee),"9층, 나전빌딩, 12 Namdaemun-ro 9-gil, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5667822, 'lng': 126.9817517}",4.1,115.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
2,ChIJuc-3YO6ifDURqO3LmzsRQaU,스타벅스 을지로국제빌딩점,"109 Namdaemun-ro, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5669467, 'lng': 126.982232}",3.9,173.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
3,ChIJX2T9De-ifDURgiWDTr4Av3U,스타벅스 을지로삼화타워점,"16 Eulji-ro 5-gil, Suha-dong, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.56686789999999, 'lng': 126.9846646}",4.0,261.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
4,ChIJ712FUOWifDURMrEzYFDR8vo,Coffee Libre.,"74 Myeongdong-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5639923, 'lng': 126.9869877}",4.3,185.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
5,ChIJP-amieWifDUR_NFabQVokYU,이디야 IBK점,"79 Eulji-ro, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5664541, 'lng': 126.9865526}",3.7,33.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
6,ChIJh2yn4e-ifDURldl8mjVAGJ0,A Twosome Place,"9-22 Myeong-dong, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5639506, 'lng': 126.9852228}",3.8,36.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[60, 120]"
7,ChIJczT11O2ifDURLQYkK5wOu7Q,다동커피집,"24-8 Dadong-gil, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5673387, 'lng': 126.9806302}",4.3,73.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
8,ChIJ4WyI75yjfDURNohpjlT-7tM,Center Coffee Myeongdong,"89 Myeongdong-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.564692, 'lng': 126.9869093}",4.5,174.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
9,ChIJWavBvu2ifDURUZ9Au3aEVvs,Cafe Mamas,"16 Mugyo-ro, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5673026, 'lng': 126.9795117}",4.0,349.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
10,ChIJfzajpe2ifDURYWKnoGMYY24,Starbucks,"21 Mugyo-ro, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.567816, 'lng': 126.978749}",4.0,777.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
11,ChIJGag47ACjfDURYZFr00VCuF4,커피앳웍스 센터원점,"67 Suha-dong, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5673583, 'lng': 126.9851356}",4.2,24.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
12,ChIJjQPoJvCifDURNwpFEV0G7pQ,SPE COFFEE,"가 길, 7 Myeong-dong, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.56396340000001, 'lng': 126.9845171}",4.3,1020.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
13,ChIJIbVZ0O-ifDURJlV_DDPZG6A,스타사주카페,"19 Myeongdong 7-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.564591, 'lng': 126.98422}",4.2,46.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
14,ChIJ6e5p0_GifDUR2S3EfpcljYY,Angel in us coffee Myungdong,"10 Myeongdong 3-gil, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5641018, 'lng': 126.9835297}",3.9,386.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
15,ChIJ9WwZ8u2ifDURgg3LwwY9KII,Starbucks,"1 층, 삼성 화재 삼성 빌딩, 50 Euljiro 1(il)-ga, Gangnam-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5662832, 'lng': 126.9800435}",4.1,365.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[25, 90]"
16,ChIJCyFa0_GifDUR6PUMjwpxFyU,Angel-in-us Coffee,"54-7 Myeongdong 1(il)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5640908, 'lng': 126.9836079}",3.9,386.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
17,ChIJM5emje2ifDURr5hkdSgEmZI,트리안카페,"을지로1가 56번지 스타시티몰 526호, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5660535, 'lng': 126.9792901}",4.0,2817.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[25, 90]"
18,ChIJAcSh7UOjfDURcIunhClX7b0,투썸플레이스 서울시청점,"6 Mugyo-ro, Myeong-dong, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5662407, 'lng': 126.9794152}",3.5,126.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
19,ChIJFaX1xe-ifDURb807pULHLjU,유 아 히어,"23 Myeongdong 9-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5648596, 'lng': 126.9844949}",4.0,114.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
20,ChIJ4ZQ06-2ifDUR-yjuparTNUE,공차 시청점,"15 Eulji-ro 1-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5667958, 'lng': 126.9796331}",4.1,22.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 30]"
21,ChIJxdb92e2ifDUREi-P06qjb9g,골드바틀센터플레이스점,다동 155번지 1층 113호 센터플레이스 중구 서울특별시 KR,"[cafe, food, point_of_interest, establishment]","{'lat': 37.5671953, 'lng': 126.9806564}",NaN,NaN,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
22,ChIJMZmbGe6jfDURWBnVqUGQSKE,아티제 대신파이낸스센터,"343 Samil-daero, Jeodong 1(il)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.56521169999999, 'lng': 126.987322}",4.3,36.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
23,ChIJMaeCF--ifDUR8an4uaIKvXI,투썸플레이스 을지로점,"30 Namdaemun-ro 10-gil, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5674381, 'lng': 126.9843659}",3.9,91.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
24,ChIJi3aAEe-ifDURjPOGyE_ZsSQ,잇츠크리스피,"30 Suha-dong, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5670369, 'lng': 126.9846623}",4.4,43.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
25,ChIJedY5ATyjfDURW4irkyWW1Bg,Tiger Sugar Myeongdong,"6 Myeongdong 7-gil, Myeong-dong, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5640474, 'lng': 126.9845568}",4.2,181.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[25, 90]"
26,ChIJSyL7IfCifDURpnI_xWuA8hs,Osulloc,"12 Myeongdong 7-gil, Myeongdong 1(il)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.56426419999999, 'lng': 126.9845188}",4.3,1020.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...",NaN
27,ChIJya6RuDijfDURyrRePSUTAuk,태극당 아크앤북점,"97-3 Euljiro 1(il)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.56635730000001, 'lng': 126.9810715}",4.1,2225.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[15, 60]"
28,ChIJkQ-lA--ifDURjWpZTh-mmRk,Paul Bassett,"5 Euljiro-dong, Jung-gu","[cafe, food, point_of_interest, store, establi...","{'lat': 37.5669332, 'lng': 126.9842187}",4.0,237.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
29,ChIJKYYHbTOjfDURCMS7VRPJ7KU,여섯시 오븐 롯데백화점본점,"Namdaemunno 2(i)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5645728, 'lng': 126.9816079}",4.1,8076.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"
30,ChIJdwI2EZajfDURF801gOGw1HU,LOTTE본점 VIP Bar 롯데백화점 4F,"Euljiro 1(il)-ga, Jung-gu","[cafe, food, point_of_interest, establishment]","{'lat': 37.5647179, 'lng': 126.981676}",4.1,8076.0,"[{'name': 'Monday', 'data': [0, 0, 0, 0, 0, 0,...","[30, 90]"